#container {
    text-align: center;
    display: flex;
    justify-content: center;
}

#result {
    width: 452px;
    height: 130px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #181F32;
    font-family: Segoe UI;
    font-size: 55px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
}

#sec-cont {
    width: 460px;
    height: 375px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #252D44;
    border-radius: 12px;
    margin-top: 5px;
}

.b {
    width: 100px;
    height: 60px;
    border-radius: 12px;
    background-color: #EAE3DB;
    margin: 20px 0px -12px 0px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0em;
    color: #3B4664;
}

#bd {
    width: 100px;
    height: 60px;
    border-radius: 12px;
    background-color: #647299;
    font-family: Inter;
    font-size: 30px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#br {
    width: 205px;
    height: 60px;
    border-radius: 11.52px;
    background-color: #647299;
    font-family: Inter;
    font-size: 30px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#bv {
    width: 205px;
    height: 60px;
    border-radius: 11.52px;
    background-color: #D13F30;
    font-family: Inter;
    font-size: 30px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}